@model Project3.Models.ServiceContent

@{
    Layout = BaseText.AdminLayout;
    var service = ViewData["service"] as List<Service>;

}


<div class="container " style="min-height:100vh ;width:100vw; background-color:white;padding:2rem">
    <div style="display:flex;justify-content:space-between;align-items:center">
        <h1 class="mb-3">Edit Content</h1>
        <div>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
    <div container-fluid>
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="ServiceId">ServiceId</label>
                @if (service != null)
                {
                    <select required asp-for="ServiceId" class="form-control">
                        @foreach (var i in service)
                        {
                            <option value="@i.Id">@i.Name</option>
                        }
                    </select>
                }
            </div>
               <div class="form-group">
                    <label >Images</label>
                    <input type="file" name="updateImage" class="form-control"  />
                
                </div>
            <input type="hidden" asp-for="image" value="@Model.image" class="form-control" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <textarea asp-for="Title" value="@Model.Title" class="form-control "></textarea>
                 <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea style="width:80vw; height:100px" asp-for="Content"
                          value="@Model.Content" id="editor1" class="form-control "></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="finished" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor1');
</script>