@model IEnumerable<Project3.Models.ServiceContent>

@{
    Layout = BaseText.AdminLayout;
}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa không ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Không xóa</button>
                <a role="button" class="btn btn-danger" id="a-link-delete-room-type"> Xóa </a>
            </div>
        </div>
    </div>
</div>


<h1 class="mb-3" style="text-align:center">Content List</h1>
<div class="container" style="min-height:100vh;background-color:white;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding:1rem;padding-bottom:1rem">
    @if (TempData.ContainsKey("SuccessMessage"))
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }


    
    <a asp-action="Create" class="btn btn-warning mb-2">Create New</a>
    <table id="myTable" class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">
                    ID
                </th>
                <th class="text-center">
                    Service Name
                </th>
                <th class="text-center">
                    Image
                </th>
                <th class="text-center">Title</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    
                    <td>
                        @if (item.Service != null)
                        {
                            @item.Service.Name
                        }
                        else
                        {
                            <span>No Service</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.image))
                        {
                            <img src="~/images/@item.image" alt="Image" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-info">Edit</a>

                        <a asp-action="Delete" asp-route-id="@item.Id " class="btn btn-danger">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>


