@model User

@{
    ViewData["Title"] = "Edit admin role";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
    var listRole = ViewData["role"] as List<Role>;
}


<h1>Edit Admin Role</h1>


<hr />
<div class="row" style="min-height:80vh">
    <div class="col-md-4">
        <form asp-action="EditUserRole" style="width:50vw">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input value="@Model.UserName" class="form-control" readonly />
                <input name="id" value="@Model.Id" class="form-control" type="hidden" />

            </div>

            <div class="form-group col-md-4" style="margin-bottom:0; width:100%">
                <label>User role</label>

                <select class="form-control js-example-basic-multiple" style="width:100%" name="role[]" multiple="multiple" w>
                    @if (listRole != null)
                    {
                        foreach (var i in listRole)
                        {
                            var select = Model.Roles.FirstOrDefault(r => r.RoleId == i.Id) == null ? false : true;
                            <option value="@i.Id" selected="@select">@i.RoleName</option>
                        }
                    }
                </select>
            </div>



            <input type="hidden" asp-for="Id" />


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>


    window.addEventListener("load", () => {

        $('.js-example-basic-multiple').select2();
    });
</script>
