@model IEnumerable<Project3.Models.User>

@{
    ViewData["Title"] = "listAdmin";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}





@* new *@
<h1 class="mb-3" style="text-align:center">Admin List</h1>
<div class="container" style="min-height:100vh;background-color:white;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding:1rem;padding-bottom:1rem">
    @if (TempData.ContainsKey("ErrorMessage"))
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }



   
    <table id="myTable" class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Username</th>
                <th class="text-center">Email</th>
                <th class="text-center">Address</th>
                <th class="text-center">Verified</th>
                <th class="text-center">Phone</th>
                <th class="text-center">Role</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {


                foreach (var price in Model)
                {
                    <tr class="text-center">
                        <td>@price.UserName</td>
                        <td>@price.Email</td>
                        <td>@price.Address</td>
                        <td>@price.Verified</td>
                        <td>@price.Phone</td>
                        <td>
                            @if (price.Roles != null)
                            {
                                foreach (var r in price.Roles)
                                {
                                    <span style="border :0.5px solid gray; margin-right:5px ;padding:2px 8px; box-sizing:border-box">@r.Role.RoleName</span>
                                }
                            }
                        </td>
                        <td>
                            @if (!price.IsBlocked)
                            {
                                <a asp-action="BlockUser" asp-route-id="@price.Id" class="btn btn-danger">Block</a>
                            }
                            else
                            {
                                <a asp-action="UnblockUser" asp-route-id="@price.Id" class="btn btn-success">Unblock</a>
                            }

                            <a asp-action="EditAdminRole" asp-route-id="@price.Id" class="btn btn-success">EditRole</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@* <script>
    function validateSearchForm() {
        var searchTerm = document.getElementById("search").value.trim();
        if (searchTerm === "") {
            alert("Please input name to search");
            return false;
        }
        return true;
    }
</script> *@

