@model IEnumerable<FriendDto>
<style>
    body {
        background: #f8f8f8;
        border-radius: 4px;
    }


    .people-nearby .google-maps {
        background: #f8f8f8;
        border-radius: 4px;
        border: 1px solid #f1f2f2;
        padding: 20px;
        margin-bottom: 20px;
    }

        .people-nearby .google-maps .map {
            height: 300px;
            width: 100%;
            border: none;
        }

    .people-nearby .nearby-user {
        padding: 20px 0;
        border-top: 1px solid #f1f2f2;
        border-bottom: 1px solid #f1f2f2;
        margin-bottom: 20px;
    }

    img.profile-photo-lg {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
</style>




<div class="row">
    @if (Model != null)
    {
        foreach (var i in Model)
        {
            <div class="col-md-6 col-xl-6">
                <a href="/profile/@i.Name" class="card-link">
                    <div class="people-nearby card">
                        <div class="nearby-user">
                            <div class="row">
                                <div class="col-md-8 col-sm-8 d-flex align-items-center justify-content-start">
                                    <img src="~/images/@i.Avatar" alt="user" class="profile-photo-lg ml-2">
                                    <div class="ml-2">
                                        <h5>@i.Name</h5>
                                        <span>@i.Description</span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 d-flex flex-column align-items-center justify-content-around">
                                    @if(i.Status== null)
                                    {
                                        <button onclick="add(event)" data-send="@i.id" class="btn btn-primary but-addfriend pull-right mb-2" style="min-width:80px">AddFriend</button>
                                    }
                                    @if (i.Status == "Pending")
                                    {
                                        <button onclick="add(event)" data-send="@i.id" class="btn btn-danger but-addfriend pull-right mb-2" style="min-width:80px">Cancel</button>
                                    }
                                    @if (i.Status == "Accept")
                                    {
                                        <button onclick="add(event)" data-send="@i.id" class="btn btn-info but-addfriend pull-right mb-2" style="min-width:80px">Friend</button>
                                    }


                                    <button class="btn btn-warning pull-right" style="min-width:80px">Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>

<form id="form_add" method="post" style="display:none" asp-controller="Friend" asp-action="AddFriend">
    <input name="sender" value="@User.FindFirst("id").Value" />
    <input id="recieve" name="reciever" />
    <input name="q" value="@ViewData["search"]" />
   
</form>

<script>
    
    const add=(e)=>{
        e.preventDefault()
        if (e.target.innerHTML == "AddFriend") {
            let data = e.target.getAttribute("data-send")
            document.getElementById("recieve").setAttribute('value',data);
            document.getElementById("form_add").submit()
        }
      
    
       
    }
</script>




